[submodule "RMTT_Libs"]
	path = RMTT_Libs
	url = https://github.com/RoboMaster/RMTT_Libs.git
[submodule "fire-detection-from-images"]
	path = fire-detection-from-images
	url = https://github.com/robmarkcole/fire-detection-from-images.git
